

$colorlightgreen: lightgreen;
$colorblack: black;

body{
    background-color: lightgreen;
}


.divbanner{

    ul{
        li{
            h1{
                color:black
                display:
                ustify-content:
                text-align:
                font-size:
            }
        }
    }

}

.divbanner__logo{

}

h1{

}


.navbar{

}

.navbar__menu{

}

.navbar__button{
    background-color: #c072ec;
}

.occupation{
    h3{
    
    }
}

.tittle{
    h2{

    }
}